In [75]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt

In [76]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
all_data_index = train.columns.drop(['NumberOfSales','NumberOfCustomers'])
all_data = pd.concat((train.loc[:,all_data_index],test.loc[:,all_data_index]))

In [77]:
#OHE on the attribute "StoreType"
StoreType = all_data['StoreType'];
all_data['StandardMarket'] = StoreType.apply(lambda x: 1 if x=='Standard Market' else 0);
all_data['HyperMarket'] = StoreType.apply(lambda x: 1 if x=='Hyper Market' else 0);
all_data['SuperMarket'] = StoreType.apply(lambda x: 1 if x=='Super Market' else 0);
all_data['ShoppingCenter'] = StoreType.apply(lambda x: 1 if x=='Shopping Center' else 0);

In [79]:
#OHE on the attribute "AssortmentType"
TypeOfProducts = all_data['AssortmentType'];
all_data['General'] = TypeOfProducts.apply(lambda x: 1 if x=='General' else 0);
all_data['WithFishDepartment'] = TypeOfProducts.apply(lambda x: 1 if x=='With Fish Department' else 0);
all_data['WithNonFoodDepartment'] = TypeOfProducts.apply(lambda x: 1 if x=='With Non-Food Department' else 0);

In [80]:
#Eliminating transformed columns
all_data = all_data.drop(['StoreType','AssortmentType']);
all_data.head()

,StoreID,Date,IsHoliday,IsOpen,HasPromotions,StoreType,AssortmentType,NearestCompetitor,Region,Region_AreaKM2,...,Min_VisibilitykM,Precipitationmm,WindDirDegrees,StandardMarket,HyperMarket,SuperMarket,ShoppingCenter,General,WithFishDepartment,WithNonFoodDepartment
0,1000,01/03/2016,0,1,0,Hyper Market,General,326,7,9643,...,6.0,0.0,23,0,1,0,0,1,0,0
1,1000,02/03/2016,0,1,0,Hyper Market,General,326,7,9643,...,10.0,0.0,56,0,1,0,0,1,0,0
2,1000,04/03/2016,0,1,0,Hyper Market,General,326,7,9643,...,8.0,0.0,22,0,1,0,0,1,0,0
3,1000,05/03/2016,0,1,0,Hyper Market,General,326,7,9643,...,10.0,0.0,108,0,1,0,0,1,0,0
4,1000,06/03/2016,0,0,0,Hyper Market,General,326,7,9643,...,5.0,0.0,46,0,1,0,0,1,0,0